*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
}
section{
    width: 100%;
    height: 100%;
}
section nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: fixed;
    right:0%;
    left:0%; 
    background-color: white;
    box-shadow: 0 0 10px black; 
    z-index: 100;
}
section nav .logo img{
    width: 170px;
    cursor: pointer;
    margin:7px 0;
    border-radius: 17px;
}
section nav ul{
    list-style: none;
}
section nav ul li{
display: inline-block;
margin: 0 15px;

}
section nav ul li a{ 
    color: black;
text-decoration: none;
font-weight: 500;
font-size: 25px;
font-family: serif;
transition: 0.1s linear;
}
section nav ul li a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: orangered;
    display: block;
    transition: 0.2s linear;
}
section nav ul li a:hover::after{
    width: 100%;
}
section nav ul li a:hover{
    color: rgb(255, 140, 0);

}
section nav .icon{
    font-size: 20px;
    color: black;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.3s linear;
    
   
}
section nav .icon i{
    
    margin-left: 15px;
}
section nav i:hover{
    color: rgb(255, 140, 0);
}
section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 190px;
}
section .main .main_text h1{
    font-size: 38px;
    position: relative;
    color: rgb(255, 140, 0);
    top: -90px;
    left: 20px;
    
}
.main-image img{
    
    width: 700px;
    position: relative;
    left: 70px;

}
section p{
    width: 650px;
    text-align: justify;
    position: relative;
    left: 123px;
    bottom: 120px;
    line-height: 30px;
    font-size: 20px;
}
.main_btn{
    background-color: rgb(255, 140, 0);
    position: relative;
    left: 123px;
    bottom:30px;
    width:150px;
    cursor:pointer;
    padding: 12px 25px;

}
section .main_btn a{
 color: white;
 margin-right: 5px;
 text-decoration: none;
}
.main_btn i{
    color: white;
    transition: 0.3s linear;
}
section .main_btn:hover{
     transform: translateX(7px);
}